<section class="calculator">
  <div class="container">
    <h2 class="calculator__title">Калькулятор</h2>
    <div class="calculator__num">
      <input
        type="text"
        class="calculator__input"
        id="number"
        placeholder="Введіть число"
      />
      <ul class="calculator__list list">
        <li class="calculator_item">
          <button class="calculator__item-btn">+</button>
        </li>
        <li class="calculator_item">
          <button class="calculator__item-btn">*</button>
        </li>
        <li class="calculator_item">
          <button class="calculator__item-btn">-</button>
        </li>
        <li class="calculator_item">
          <button class="calculator__item-btn">/</button>
        </li>
      </ul>
      <input
        type="text"
        class="calculator_input"
        id="number-sec"
        placeholder="Введіть число"
      />
      <button class="calculator__btn">=</button>
      <p class="calculator_result-text">Результат</p>
    </div>
    <div class="line"></div>
  </div>
</section>
