<section class="calculator">
  <div class="container">
    <h2 class="calculator__title title">Калькулятор</h2>
    <div class="calculator__container">
      <input type="text" class="calculator__input" id="number" placeholder="Введіть число"/>
      <ul class="action__list list">
        <li class="action__item">
          <button class="action__btn">+</button>
        </li>
        <li class="action__item">
          <button class="action__btn">*</button>
        </li>
        <li class="action__item">
          <button class="action__btn">-</button>
        </li>
        <li class="action__item">
          <button class="action__btn">/</button>
        </li>
      </ul>
      <input type="text" class="calculator__input" id="number-sec" placeholder="Введіть число"/>
      <button class="action__btn">=</button>
      <p class="calculator__result">Результат</p>
    </div>
    <div class="line"></div>
  </div>
</section>
