<section class="check-year">
  <div class="container">
    <h3 class="check-year__title title">Перевір в який рік ти народився</h3>
    <div class="check-year__div">
        <input class="check-year__input" type="number" placeholder="Введіть рік народження" data-inputYear/>
        <button type="button" class="check-year__btn" data-btnYear>
            <svg class="check-year__svg">
                <use href="./images/icons.svg"></use>
            </svg>
        </button>
        <p class="check-year__text">Введіть рік</p>
    </div>
    <div class="line"></div>
  </div>
</section>
