<section class="choose-scientist">
  <div class="container choose-scientist__container">
    <h3 class="choose-scientist__title title">Обери вченого/их</h3>
    <ul class="choose-scientist__list list">
      <li class="choose-scientist__item"></li>
      <li class="choose-scientist__item"></li>
      <li class="choose-scientist__item"></li>
      <li class="choose-scientist__item"></li>
      <li class="choose-scientist__item"></li>
      <li class="choose-scientist__item"></li>
      <li class="choose-scientist__item"></li>
      <li class="choose-scientist__item"></li>
      <li class="choose-scientist__item"></li>
      <li class="choose-scientist__item"></li>
      <li class="choose-scientist__item"></li>
      <li class="choose-scientist__item"></li>
    </ul>
    <div class="choose-scientist-btn__box">
      <ul class="choose-scientist-btn__list list fr__list">
        <li class="choose-scientist-btn__item">
          <button class="choose-scientist__btn">Які вчені народилися в 19 ст.</button>
        </li>
        <li class="choose-scientist-btn__item">
          <button class="choose-scientist__btn">Відсортувати вчених за алфавітом</button>
        </li>
        <li class="choose-scientist-btn__item">
          <button class="choose-scientist__btn">Відсортувати вчених за кількістю прожитих років</button>
        </li>
        <li class="choose-scientist-btn__item">
          <button class="choose-scientist__btn">Знайти вченого, який народився найпізніше</button>
        </li>
      </ul>
      <ul class="choose-scientist-btn__list list">
        <li class="choose-scientist-btn__item">
          <button class="choose-scientist__btn">Знайти рік народження Albert Einshtein</button>
        </li>
        <li class="choose-scientist-btn__item">
          <button class="choose-scientist__btn">Знайти вчених, прізвища яких починаються на на літеру "С"</button>
        </li>
        <li class="choose-scientist-btn__item">
          <button class="choose-scientist__btn">Видалити всіх вчених, ім’я яких починається на "А"</button>
        </li>
        <li class="choose-scientist-btn__item">
          <button class="choose-scientist__btn">Знайти вченого, який прожив найдовше і вченого, <br>
            який прожив найменше</button>
        </li>
      </ul>
    </div>
    <button class="choose-scientist__btn last-btn">Знайти вчених, в яких співпадають перші літери імені і прізвища</button>
  </div>
</section>
