<div class="backdrop is-hidden" data-modal>
  <div class="footer-modal">
    <button class="footer-modal__close" type="button" data-modal-close>
      <svg class="footer-modal_svg" width="15" height="15">
        <use href="./images/icons.svg#close"></use>
      </svg>
    </button>
    <h2 class="footer-modal__title">Дякую за підписку!</h2>
      <img class="footer-modal-img sword" src="./images/modal/sword.png" alt="sword" />
      <img class="footer-modal-img game-dev" src="./images/modal/game-development.png" alt="game-develop"/>
      <img class="footer-modal-img puzzle" src="./images/modal/puzzle.png" alt="puzzle"/>
      <img class="footer-modal-img ttt" src="./images/modal/tic-tac-toe.png" alt="tic-tac-toe"/>
  </div>
</div>
