<footer class="footer">
  <div class="container">
    <a href="" class="logo">
      <div class="logo__container footer__logo">
        <svg class="logo__icon footer__logo-icon" width="165" height="70">
          <use href="/src/images/icons.svg#icon-logo"></use>
        </svg>
    </a>

    <ul class="footer__list link">
      <li class="footer__item">Тел: +38 (123) 456 78 90</li>
      <li class="footer__item">E-Mail: codingmagic@gmail.com</li>
      <li class="footer__item">Facebook: CodingMagic</li>
      <li class="footer__item">Twitter: CodingMagic</li>
      <li class="footer__item">Instagram: CodingMagic</li>
    </ul>

    <div class="footer__container">
      <input
        type="email"
        name="footer__input"
        class="footer__input"
        placeholder="Ваша ел. адреса..."
      />
      <button class="footer__btn" data-open-tnx-modal>Підписатись</button>
      <p class="footer__subtitle">
        *Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті
      </p>
    </div>
  </div>
</footer>
