<section class="modal-section">
  <div class="modal__thanks backdrop is-hidden" data-modal>
    <button type="button" class="modal__close-btn" data-modal-close>
      <svg width="15" height="15">
        <use href=""></use>
      </svg>
    </button>
    <div class="modal__images-first">
      <svg class="svg" width="30" height="30">
        <use href=""></use>
      </svg>
      <svg class="svg" width="30" height="30">
        <use href=""></use>
      </svg>
    </div>
    <h2 class="modal__title-thanks">Дякую за підписку!</h2>
    <div class="modal__images-second">
      <svg class="svg" width="30" height="30">
        <use href=""></use>
      </svg>
      <svg class="svg" width="30" height="30">
        <use href=""></use>
      </svg>
    </div>
  </div>
</section>
