<header class="header">
  <div class="container">
    <ul class="header__list list">
      <li class="header__item--icon">
        <a class="logo__link link" href="#">
          <svg class="header__logo-icon" width="92" height="38">
            <use href="./images/icons.svg#logo"></use>
          </svg>
        </a>
      </li>
      <li class="header__item">
        <button class="header__btn">
          Інтерактив
          <svg class="interaktive__icon" width="21" height="17">
            <use href="./images/icons.svg#icon-arrow"></use>
          </svg>
        </button>
        <div class="header__menu">
          <a href="#">Числовий</a>
          <a href="#">Ігровий</a>
          <a href="#">Ознайомчий</a>
        </div>
      </li>
      <li class="header__item">Наша команда</li>
      <li class="header__item">Контакти</li>
      <li class="header__switcher">
        <div class="header__block"></div>
        <p class="header__text">Вітаємо, User!</p>
      </li>
    </ul>
  </div>
</header>
