<div class="backdrop" data-header-modal>
  <div class="header-modal">
    <button class="header-modal__close" type="button" data-header-modal-close>
      <svg class="header-modal__svg" width="15" height="15">
        <use href="./images/icons.svg#close"></use>
      </svg>
    </button>
    <p class="header-modal__text">Привіт!</p>
    <p class="header-modal__text"> Ви потрапили на сайт інтерактивних ігор та завдань.</p>
    <p class="header-modal__text"> Надіємось, що вам сподобається і ви отримаєте позитивні емоції!</p>
    <p class="header-modal__text">Бажаємо Вам гарно провести час!</p>
    <p class="header-modal-name__text">Введіть своє ім’я:</p>
    <input class="header-modal__input" type="text" placeholder="Ваше ім’я..." data-name-input/>
    <button class="header-modal__btn" data-name-submit>Зберегти</button>
    <ul class="header-modal__list list">
      <li class="header-modal__item header-sword">
        <svg class="header-modal__icon" width="30" height="30">
          <use href="./images/icons.svg#icon-sword"></use>
        </svg>
      </li>
      <li class="header-modal__item header-puzzle">
        <svg class="header-modal__icon" width="40" height="40">
          <use href="./images/icons.svg#icon-puzzle"></use>
        </svg>
      </li>
      <li class="header-modal__item header-ttt">
        <svg class="header-modal__icon" width="30" height="30">
          <use href="./images/icons.svg#icon-tic-tac-toe"></use>
        </svg>
      </li>
      <li class="header-modal__item header-game-dev">
        <svg class="header-modal__icon" width="30" height="30">
          <use href="./images/icons.svg#icon-game-development"></use>
        </svg>
      </li>
    </ul>
  </div>
</div>
