<header class="header">
  <div class="container header__container">
    <a class="logo__link link" href="#">
      <svg class="header__logo-icon" width="92" height="38">
        <use href="/src/images/icons.svg#logo"></use>
      </svg>
    </a>
    <nav class="header__nav">
      <ul class="nav__list list">
        <li class="nav__item">
          <a href="#" class="nav__link link dropdown__link" dropbtn>
            Інтерактив
            <svg class="header__dropdown-icon" width="15" height="19" dropbtn>
              <use href="/src/images/icons.svg#icon-arrow"></use>
            </svg>
          </a>
          <div class="dropdown-menu" drop-content>
            <ul class="dropdown-menu__list list">
              <li class="dropdown-menu__item">
                <a href="" class="dropdown-menu__link link">Числовий</a>
              </li>
              <li class="dropdown-menu__item">
                <a href="" class="dropdown-menu__link link">Ігровий</a>
              </li>
              <li class="dropdown-menu__item">
                <a href="" class="dropdown-menu__link link">Ознайомчий</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link link">Наша команда</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link link">Контакти</a>
        </li>
      </ul>
    </nav>
    <div class="header__box">
      <div class="theme__container">
        <label class="theme-switch">
          <input type="checkbox" id="theme-toggle" />
          <span class="slider">
            <div class="icon__theme--container">
              <svg class="icon__theme sun-icon" width="15" height="15">
                <use href="./images/icons.svg#icon-sun"></use>
              </svg>
              <svg class="icon__theme m" width="15" height="15">
                <use href="./images/icons.svg#icon-half-moon"></use>
              </svg>
            </div>
          </span>
        </label>
      </div>
      <p class="welcome__text">Вітаємо, User!</p>
    </div>
  </div>
</header>
