<header class="header">
  <div class="container">
    <ul class="header__list list">
      <li class="header__item--icon">
        <a class="logo__link link" href="#">
          <svg class="icon logo__icon">
            <use href="./images/icons.svg#logo"></use>
          </svg>
        </a>
      </li>
      <li class="header__item">
        <button class="header__btn">Інтерактив</button>
        <!-- <div class="header__btn--menu">
          <a href="#">Числовий</a>
          <a href="#">Ігровий</a>
          <a href="#">Ознайомчий</a>
        </div> -->
      </li>
      <li class="header__item">Наша команда</li>
      <li class="header__item">Контакти</li>
      <li class="header__switcher">
        <div class="header__block"></div>
        <p class="header__text">Вітаємо, User!</p>
      </li>
    </ul>
  </div>
</header>
