<section class="sect max-number">
    <div class="container">
        <h2 class="title">Введіть 3 числа</h2>
        <form class="max-number__form" method="post" data-maxNum-form>
            <div class="max-number__inputs">
                <label class="max-number__label">
                    <input type="text" name="firstNum" id="firstNum" class="input" placeholder="Введіть число"
                        data-Num-input />
                </label>
                <label class="max-number__label">
                    <input type="text" name="secondNum" id="secondNum" class="input" placeholder="Введіть число"
                        data-Num-input />
                </label>
                <label class="max-number__label">
                    <input type="text" name="thirdNum" id="thirdNum" class="input" placeholder="Введіть число"
                        data-Num-input />
                </label>
            </div>
            <button type="submit" class="max-number__btn" data-maxNum-btn>
                Перевірити
            </button>
        </form>
        <p class="max-number__result" data-maxNum-result>
            Будь ласка, введіть три числа та натисніть кнопку.
        </p>
    </div>
</section>