<section class="our-team__section">
  <div class="container">
    <h2 class="title our-team__title title">Наша команда</h2>
    <div class="our-team__slider">
      <button class="slider__btn slider__btn--left">
        <svg class="slider__icon icon-left-arrow" width="50" height="100">
          <use href="./images/icons.svg#icon-slider-btn"></use>
        </svg>
      </button>
      <div class="slider__wrapper">
        <ul class="slider__list">
          <li class="slider__item">
            <img
              class="slider__img"
              src="./images/our-team/roma_img.jpg"
              alt="Ім’я студента"
            />
            <div class="slider__info">
              <h3 class="slider__headline">Ім’я студента</h3>
              <p class="slider__text">
                Інформація про роботу, яку він/вона виконав/ла
              </p>
            </div>
          </li>
          <li class="slider__item">
            <img
              class="slider__img"
              src="/src/images/our-team/roma_img.jpg"
              alt="Ім’я студента"
            />
            <div class="slider__info">
              <h3 class="slider__headline">Ім’я студента</h3>
              <p class="slider__text">
                Інформація про роботу, яку він/вона виконав/ла
              </p>
            </div>
          </li>
          <li class="slider__item">
            <img
              class="slider__img"
              src="/src/images/our-team/roma_img.jpg"
              alt="Ім’я студента"
            />
            <div class="slider__info">
              <h3 class="slider__headline">Ім’я студента</h3>
              <p class="slider__text">
                Інформація про роботу, яку він/вона виконав/ла
              </p>
            </div>
          </li>
          <li class="slider__item">
            <img
              class="slider__img"
              src="/src/images/our-team/roma_img.jpg"
              alt="Ім’я студента"
            />
            <div class="slider__info">
              <h3 class="slider__headline">Ім’я студента</h3>
              <p class="slider__text">
                Інформація про роботу, яку він/вона виконав/ла
              </p>
            </div>
          </li>
          <li class="slider__item">
            <img
              class="slider__img"
              src="/src/images/our-team/roma_img.jpg"
              alt="Ім’я студента"
            />
            <div class="slider__info">
              <h3 class="slider__headline">Ім’я студента</h3>
              <p class="slider__text">
                Інформація про роботу, яку він/вона виконав/ла
              </p>
            </div>
          </li>
          <li class="slider__item">
            <img
              class="slider__img"
              src="/src/images/our-team/roma_img.jpg"
              alt="Ім’я студента"
            />
            <div class="slider__info">
              <h3 class="slider__headline">Ім’я студента</h3>
              <p class="slider__text">
                Інформація про роботу, яку він/вона виконав/ла
              </p>
            </div>
          </li>
        </ul>
      </div>
      <button class="slider__btn slider__btn--right">
        <svg class="slider__icon icon-right-arrow" width="50" height="100">
          <use href="./images/icons.svg#icon-slider-btn"></use>
        </svg>
      </button>
    </div>
    <div class="line"></div>
  </div>
</section>
