<section class="our-team__section">
  <div class="container">
    <h2 class="title our-team__title title">Наша команда</h2>
    <div class="our-team__slider">
      <button class="slider__btn slider__btn--left">
        <svg class="slider__icon icon-left-arrow" width="50" height="100">
          <use href="./images/icons.svg#icon-slider-btn"></use>
        </svg>
      </button>
      <div class="slider__wrapper">
        <ul class="slider__list">
          <li class="slider__item">
            <img
              class="slider__img"
              src="./images/our-team/teammate_img1.jpg"
              alt="Павло"
            />
            <div class="slider__info">
              <h3 class="slider__headline">Павло(teamlead)</h3>
              <p class="slider__text">
                Популярні інтерактивні ігри, Вчені, Калькулятор часу
              </p>
            </div>
          </li>
          <li class="slider__item">
            <img
              class="slider__img"
              src="./images/our-team/teammate_img2.jpg"
              alt="Варвара"
            />
            <div class="slider__info">
              <h3 class="slider__headline">Варвара(scrum master)</h3>
              <p class="slider__text">
                Хедер, Камінь - ножиці - папір, слайдер
              </p>
            </div>
          </li>
          <li class="slider__item">
            <img
              class="slider__img"
              src="./images/our-team/teammate_img3.jpg"
              alt="Роман"
            />
            <div class="slider__info">
              <h3 class="slider__headline">Роман</h3>
              <p class="slider__text">Гугл динозавр, 3 числа</p>
            </div>
          </li>
          <li class="slider__item">
            <img
              class="slider__img"
              src="./images/our-team/teammate_img4.jpg"
              alt="Толя"
            />
            <div class="slider__info">
              <h3 class="slider__headline">Толя</h3>
              <p class="slider__text">Футер, Калькулятор</p>
            </div>
          </li>
          <li class="slider__item">
            <img
              class="slider__img"
              src="./images/our-team/teammate_img5.jpg"
              alt="Артем К"
            />
            <div class="slider__info">
              <h3 class="slider__headline">Артем К</h3>
              <p class="slider__text">Футбол</p>
            </div>
          </li>
          <li class="slider__item">
            <img
              class="slider__img"
              src="./images/our-team/teammate_img6.jpg"
              alt="Артем С"
            />
            <div class="slider__info">
              <h3 class="slider__headline">Артем С</h3>
              <p class="slider__text">Модальне вікно</p>
            </div>
          </li>
        </ul>
        <ul class="slider__dots">
            <li class="slider__dot" data-index="0"></li>
            <li class="slider__dot" data-index="1"></li>
            <li class="slider__dot" data-index="2"></li>
            <li class="slider__dot" data-index="3"></li>
            <li class="slider__dot" data-index="4"></li>
            <li class="slider__dot" data-index="5"></li>
        </ul>
      </div>
      <button class="slider__btn slider__btn--right">
        <svg class="slider__icon icon-right-arrow" width="50" height="100">
          <use href="./images/icons.svg#icon-slider-btn"></use>
        </svg>
      </button>
    </div>
    <div class="line"></div>
  </div>
</section>
