<section class="quess-number">
    <div class="container">
      <h3 class="quess-number__title title">Вгадай число, яке загадав комп’ютер</h3>
      <div class="quess-number__div">
          <input class="quess-number__input" type="number" placeholder="Введіть число" data-inputNumber/>
          <button type="button" class="quess-number__btn" data-btnNumber>
              <svg class="quess-number__svg">
                  <use href="./images/icons.svg"></use>
              </svg>
          </button>
          <p class="quess-number__text" data-textNumber>Введіть число</p>
      </div>
      <div class="line"></div>
    </div>
  </section>