<section class="section rock-paper-scissors__section">
  <div class="container rock-paper-scissors__container">
    <h2 class="rock-paper-scissors__title">Камінь - ножиці - папір</h2>
    <ul class="rock-paper-scissors__list list">
      <li class="rock-paper-scissors__item">
        <!-- <svg class="rock-paper-scissors__icon" width="40" height="40">
          <use xlink:href="./images/icons.svg#icon-stone"></use>
        </svg> -->
      </li>
      <li class="rock-paper-scissors__item">
        <!-- <svg class="rock-paper-scissors__icon" width="40" height="40">
          <use xlink:href="./images/icons.svg#icon-scissors"></use>
        </svg> -->
      </li>
      <li class="rock-paper-scissors__item">
        <!-- <svg class="rock-paper-scissors__icon" width="40" height="40">
          <use xlink:href="./images/icon.svg#icon-scissors"></use>
        </svg> -->
      </li>
    </ul>
    <p class="rock-paper-scissors__prompt"></p>
    <button type="button" class="rock-paper-scissors__btn">
      Варіант комп’ютера
    </button>
    <div class="line"></div>
  </div>
</section>
