<section class="rock-paper-scissors__section">
  <div class="container rock-paper-scissors__container">
    <div class="rock-paper-scissors__box">
      <h2 class="rock-paper-scissors__title">Камінь - ножиці - папір</h2>
      <ul class="rock-paper-scissors__list list">
        <li class="rock-paper-scissors__item">
          <button type="button" class="rock-paper-scissors__btn--svg">
            <svg class="icon rock-paper-scissors__svg" width="40" height="40">
              <use href="/src/images/icons.svg#icon-stone"></use>
            </svg>
          </button>
        </li>
        <li class="rock-paper-scissors__item">
          <button type="button" class="rock-paper-scissors__btn--svg">
            <svg class="icon rock-paper-scissors__svg" width="40" height="40">
              <use href="/src/images/icons.svg#icon-scissors"></use>
            </svg>
          </button>
        </li>
        <li class="rock-paper-scissors__item">
          <button type="button" class="rock-paper-scissors__btn--svg">
            <svg class="icon rock-paper-scissors__svg" width="40" height="40">
              <use href="/src/images/icons.svg#icon-paper"></use>
            </svg>
          </button>
        </li>
      </ul>
      <p class="rock-paper-scissors__info">Ви вийграли раунд!</p>
      <button class="rock-paper-scissors__btn">Варіант комп'ютера</button>
    </div>
    <div class="rock-paper-scissors__score--box">
      <ul class="rock-paper-scissors__score list">
        Рахунок:
        <li class="rock-paper-scissors__score-item">Комп'ютер - 0</li>
        <li class="rock-paper-scissors__score-item">Ви - 0</li>
      </ul>
    </div>
    <div class="line"></div>
  </div>
</section>
