<section class="time-calculator">
    <div class="container">
        <h3 class="time-calculator__title title">Калькулятор часу</h3>
        <div class="time-calculator__box">
            <input class="time-calculator__input" type="number" placeholder="Введіть число" data-inputTime/>
            <button type="button" class="time-calculator__btn" data-btnTime>
                <svg class="time-calculator__svg">
                    <use href="./images/icons.svg#loupe"></use>
                </svg>
            </button>
            <div class="time-calculator__line"></div>
            <p class="time-calculator__text" data-resultTime>0дн. 00:00</p>
        </div>
        <div class="line"></div>
    </div>
</section>