.check-year__div {
  display: flex;
  align-items: center;
  width: 576px;
  margin: 0 auto;
}
.check-year__input {
  background-color: #d7d7d7;
  width: 215px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.2);
  &:focus {
    outline: none;
  }
  &::placeholder {
    font-size: 12px;
  }
}
.check-year__btn {
  margin-left: -35px;
  border: none;
  height: 38.5px;
  background-color: #000;
  width: 35px;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.02);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: #7e7e7e;
  }
  &:active {
    transform: scale(1.1);
  }
}
.check-year__svg {
  fill: #fff;
  width: 20px;
  height: 20px;
}
.check-year__text {
  font-size: 12px;
  font-weight: 400;
  margin-left: auto;
}
