#board {
    background-color: aliceblue;
    border-bottom: 1px solid black;
    background-image: url('../../images/dinosaur/track.png');
    background-repeat: no-repeat;
    background-position: bottom;
}