.dinosaur__box {
  display: flex;
  flex-direction: column;
  position: relative;
}
.dinosaur__board {
  background-image: url('../../images/dinosaur/track.png');
  background-repeat: no-repeat;
  background-position: bottom;
}

.dinosaur__btn {
  font-size: 14px;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  color: #7d7d7d;
  background-color: #d7d7d7;
  position: absolute;
  top: 200px;
  //   right: 700px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: #7d7d7d;
    color: #d7d7d7;
  }
}
