.footer-modal {
  display: flex;
  justify-content: center;
  position: fixed;
  border-radius: 20px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: var(--bg-color);
  padding: 83px 138px;
  min-height: 245px;
}
.footer-modal__title {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
.footer-modal__close {
  position: absolute;
  right: 30px;
  top: 30px;
  display: flex;
  border: none;
  background-color: transparent;
  &:hover .footer-modal__svg,
  &:focus .footer-modal__svg {
    fill: #7a7a7a;
  }
}
.footer-modal__item {
  position: absolute;
}
.footer-modal__icon, .footer-modal__svg{
  fill: var(--text-color);
}
.sword {
  left: 43px;
  top: 70px;
}
.game-dev {
  top: 70px;
  right: 43px;
}
.puzzle {
  left: 87px;
  bottom: 70px;
}
.ttt {
  right: 87px;
  bottom: 70px;
}