.header {
  padding-top: 21px;
  padding-bottom: 21px;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0;
}
.header__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.header__item {
  font-family: 'Montserrat Alternates';
  font-weight: 400;
  font-size: 12px;
  color: #000;
}
.header__item--icon {
  margin-right: 82px;
}
.icon-logo-icon {
  width: 40px;
  height: 38px;
}
.dropbtn {
  font-family: 'Montserrat Alternates';
  font-weight: 400;
  font-size: 12px;
  color: #000;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}
.dropbtn:hover {
  color: #7a7a7a;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: -40px;
  background-color: #ffffff;
  min-width: 160px;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-radius: 0 0 20px 20px;
  z-index: 1;
}

.menu__item {
  font-family: 'Montserrat Alternates';
  color: black;
  padding: 10px 49px;
  text-align: center;
  text-decoration: none;
  display: block;
}
.menu__item:hover {
  background-color: #ddd;
}
.menu__item--radius:hover {
  border-radius: 0 0 20px 20px;
}
.show {
  display: block;
}
.header__switcher {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 51px;
}
.header__block {
  background-color: #7a7a7a;
  width: 40px;
  height: 20px;
  border-radius: 11px;
}
.header__text {
  font-family: 'Montserrat Alternates';
  font-weight: 400;
  font-size: 12px;
  color: #000;
}
