.rps__box {
  position: relative;
  margin-bottom: 36px;
}
.rps-choose__list {
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 38px;
}
.rps-choose__btn {
  border-radius: 20px;
  padding: 10px;
  background-color: var(--text-color);
  border: none;
  border: 1px solid var(--text-color);
  transition: all 250ms ease-in-out;
  // cursor: pointer;
  &:hover,
  &:focus {
    background-color: transparent;
  }
  &:hover .rps__svg,
  &:focus .rps__svg {
    fill: var(--text-color);
  }
}
.rps__svg {
  fill: var(--icon-bg);
  transition: all 250ms ease-in-out;
}
.rps-score__list {
  position: absolute;
  top: 0;
  right: 220px;
}
.rps-score__list {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.rps-score__text,
.rps-score__title {
  font-size: 12px;
  font-weight: 400;
}
.rps__text {
  font-size: 12px;
  text-align: center;
  margin-bottom: 36px;
}

.rps-result__btn {
  color: #fff;
  font-size: 12px;
  border-radius: 20px;
  padding: 10px 20px;
  border: 1px #000 solid;
  background-color: #000;
  display: block;
  margin: 0 auto;
  // cursor: pointer;
  transition: all 250ms ease-in-out;
  &:hover,
  &:focus {
    background-color: transparent;
    color: var(--text-color);
    border-color: var(--text-color);
  }
}
